<h2>SaaS利用申請</h2>

<p><strong><%= @request.requester.display_name %></strong> さんから申請があります。</p>

<table border="1" cellpadding="8" cellspacing="0" style="border-collapse: collapse;">
  <tr><th>種別</th><td><%= @request.request_type %></td></tr>
  <tr><th>対象SaaS</th><td><%= @request.target_saas_name %></td></tr>
  <tr><th>理由</th><td><%= @request.reason %></td></tr>
</table>

<p><%= link_to "申請を確認する", approval_request_url(@request) %></p>
